{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <p style="text-align: center; font-size: 20px">Пожалуйста, указывайте реальные имя, фамилию и почту. На почту будут
        приходить уведомления о подтверждении занятия.</p>
    <p style="text-align: center; font-size: 20px">Пароль содержать цифры и буквы и состоять минимум из 8 символов.</p>
    <div class="container" style="width: 18vw; text-align: center">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Зарегистироваться">
        </form>
    </div>
{% endblock %}
