{% extends 'base.html' %}
{% load static %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <h1>{{ name }}</h1>
        <br><br>
        Позвонить: <a href="tel:{{ phone }}">{{ phone }}</a>
        <br><br>
        Написать на почту: <a href="mailto:{{ email }}">{{ email }}</a>
        <br><br>
        <a href="{{ vk }}"><img src="{% static 'main/img/vk.svg' %}" style="color: #4774c2;height: 50px" alt="Вконтакте"></a>
    </div>
{% endblock %}