{% extends 'base.html' %}

{% block title %}
    Запись на занятие
{% endblock %}

{% block content %}
    <div class="container" style="width: 18vw; text-align: center">
        <form method="post">
            {% csrf_token %}
            {{ form.date_lesson.label_tag }}
            {{ form.date_lesson }}
            {{ form.date_lesson.errors }}

            <br><br><br>

            <input type="time" name="time_start"> до <input type="time" name="time_end">
            {{ form.time_lesson.errors }}

            <br><br><br>

            {{ form.desc.label_tag }}
            {{ form.desc }}
            {{ form.desc.errors }}
            <input type="submit" class="btn btn-primary" value="Записаться">
        </form>
    </div>
{% endblock %}