{% extends 'base.html' %}

{% block title %}
    Запись на занятие
{% endblock %}

{% block content %}
    <div class="container" style="width: 18vw; text-align: center">
        <form method="post">
            {% csrf_token %}
            {{ form.date_lesson.label_tag }}
            {{ form.date_lesson }}
            {{ form.date_lesson.errors }}

            <br><br><br>
            <p>Время занятия</p>
            {{ form.time_lesson_start }} - {{ form.time_lesson_end }}
            {% if form.time_lesson_end.errors or form.time_lesson_start.errors %}
                {{ form.time_lesson_start.errors }}
                {{ form.time_lesson_end.errors }}
            {% endif %}

            {{ form.desc.label_tag }}
            {{ form.desc }}
            {{ form.desc.errors }}
            <input type="submit" class="btn btn-primary" value="Записаться">
        </form>
    </div>
{% endblock %}