{% extends 'base.html' %}

{% block title %}
    FAQ
{% endblock %}

{% block content %}
    <h1 style="text-align: center">Frequently Asked Questions</h1>

    {% if not request.user.is_anonymous %}
        <br>
        <div class="container" style="width: 36vw; text-align: center">
            <a href="{% url 'mail' %}" style="text-align: center">
                <button type="button" class="btn btn-primary">Форма обратной связи</button>
            </a>
        </div>
    {% endif %}

    <br>
    <div class="container" style="width: 36vw;">
        {% for question, answer in context.items %}
            <h3>{{ question }}?</h3>
            <p>{{ answer }}</p>
        {% endfor %}
    </div>
    <br><br>
{% endblock %}