{% extends 'base.html' %}
{% load static %}

{% block title %}
    Все занятия
{% endblock %}

{% block content %}
    <div class="container" style="text-align:center">
        <br><br>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if page_obj.object_list %}
                    {% for lesson in page_obj.object_list %}
                        <div class="col">
                            <div class="card border-primary mb-3">
                                <div class="card-body">
                                    {% if lesson.approved %}
                                        <p class="badge rounded-pill bg-success" style='font-size: 16px'>Одобрено</p>
                                    {% else %}
                                        <p class="badge rounded-pill bg-danger" style='font-size: 16px'>Не одобрено</p>
                                    {% endif %}
                                    <h4 class="card-title text-primary">{{ lesson.date_lesson }}</h4>
                                    <h5>{{ lesson.time_lesson_start }} - {{ lesson.time_lesson_end }}</h5>
                                    <p>{{ lesson.user }}</p>
                                    <p>{{ lesson.desc }}</p>
                                    <div>
                                        <a href="{% url 'lesson_update' lesson.pk %}" class="btn btn-primary"
                                           style="margin-bottom: 10px;">Редактировать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1 style="margin: auto">Занятий нет</h1>
                {% endif %}
            </div>
        </div>

        {% if page_obj.has_other_pages %}
            <div class="container" style="padding: 10px;margin-top: 30px">
                <div class="row align-items-center">
                    <nav aria-label="Page navigation example" class="nav justify-content-center">
                        <ul class="pagination" style="margin: auto">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for page in page_obj.paginator.page_range %}
                                {% if page_obj.number == page %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">{{ page }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}