{% extends 'base.html' %}

{% block title %}
    Отправить письмо
{% endblock %}

{% block content %}
    <div class="container" style="width: 36vw; text-align: center">
        <form method="post">
            {% csrf_token %}
            <p>{{ form.subject }}</p>
            <br><br>
            {{ form.message }}
            <br><br>
            <p>После успешной отправки Вы будете переведены на стартовую страницу.</p>
            <input type="submit" class="btn btn-primary" value="Отправить письмо">
        </form>
    </div>{% endblock %}